/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* DEFAULT STYLING */
html{
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    /*Light Mode*/
    color: #333; 
    /*Dark Mode*/
    /* color: #ccc;  */
    line-height: 1.3;
    border: none;
    text-align: center;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color : #fff;
    border: none;
    padding : 1rem 2rem;
    margin-top: 1rem;
    cursor: pointer;
    /* Light Mode*/
    background-color: #3d5a80;
    /* Dark Mode */
    /* background-color: #293241; */
    margin-left: 1rem;
}

input{
    padding : 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    /* Light Mode */
    background-color: #fff;
    color: #000;
    border : none;
    /* Dark Mode */
    /* background-color: #161616;
    color: #ccc;
    border: 1px solid rgb(46, 46, 46); */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
    /* Light Mode */
    background-color: #fff;
    color: #000;
    border : none;
    /* Dark Mode */
    /* background-color: #161616;
    color: #ccc;
    border: 1px solid rgb(46, 46, 46); */
}

/* SPECIFIC STYLING */
#particles-js{
    width: 100vw;
    height: 100vh;
    /*Light Mode*/
    background-color: #bdd7ff; 
    /*Dark Mode*/
    /* background-color: #01000c;  */
    overflow: hidden;
    position: relative;
  }

header{
    width :100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

nav{
    width : 100%;
    padding-top: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

nav a{
    margin-right: 1rem;
    z-index: 1;
    cursor: pointer;
}


nav #sun{
    color: gold;
    display: none;
}



#main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#calc-container{
    font-size: 1.6rem;
    height: 90vh;
    display: grid;
    grid-template-rows: 0.1fr 1.25fr 2.5fr;
    margin : 5rem 2rem;
    /* Light Mode */
    -webkit-box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);
    /* Dark Mode */
    /* -webkit-box-shadow: 0px 0px 58px -15px rgba(14,140,180,0.5);
    -moz-box-shadow: 0px 0px 58px -15px rgba(14,140,180,0.5);
    box-shadow: 0px 0px 58px -15px rgba(14,140,180,0.5); */
}


/* SELECTOR STYLING */
#calc-container h2{
    margin-top: 2rem;
}

#selector-container{
    padding : 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#selector-container #ratio-selector{
    padding : 1rem;
}

#selector-container #ratio-selector label{
    margin-right: 1.5rem;
}

#selector-container #ratio-selector #ratio-select{
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    padding: 0.5rem;
}

#selector-container #custom-ratio-selector{
    width: 75%;
    padding : 1.5rem;
    border: 0.5px solid #555;
    display: none;
}

#selector-container #custom-ratio-selector input{
    width : 40%;
    padding : 1rem;
    margin: 1rem auto;
}

#selector-container #custom-ratio-selector a{
    width : 20%;
    padding : 1rem;
    margin: 1rem;
}



/* RESULT STYLING */
#aspect-result{
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 1.5fr;
    padding-top: 1.5rem;
}

#aspect-result #results{
    width : 50%;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}

#aspect-result #results #result-width input, #aspect-result #results #result-height input {
    padding : 2rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    width : 90%;
}

#aspect-result #results #result-width, #aspect-result #results #result-height{
    width : 50%;
}


#aspect-result #result-display #result-model{
    /* Light Mode */
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    /* Dark Mode */
    /* background-color: #02021b;
    color: #eeeeee;
    border: 1px solid #eee; */
    
    position: relative;
    width: 240px;
    height: 135px;
    font-size: 2rem;
    margin: 2.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Light Mode */
    -webkit-box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);

    /* Dark Mode */
    /* -webkit-box-shadow: 0px 0px 58px -15px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 58px -15px rgba(51,51,51,1);
    box-shadow: 0px 0px 58px -15px rgba(51,51,51,1); */
}

#aspect-result #result-display #result-model #result-display-width,
#aspect-result #result-display #result-model #result-display-height{
    position: absolute;
    font-size: 1.8rem;
}


#aspect-result #result-display #result-model #result-display-width{
    bottom: -3rem;
}

#aspect-result #result-display #result-model #result-display-height{
    width : 7rem;
    right: -7rem;
}



#aspect-check-container{
    font-size: 1.6rem;
    height: 90vh;
    display: grid;
    grid-template-rows: 0.5fr 1.25fr 2.5fr;
    margin : 5rem 2rem;
    padding-top : 2.5rem;
     /* Light Mode */
     -webkit-box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 58px -15px rgba(0,0,0,0.75);
     /* Dark Mode */
    /* -webkit-box-shadow: 0px 0px 58px -15px rgba(14,140,180,0.5);
    -moz-box-shadow: 0px 0px 58px -15px rgba(14,140,180,0.5);
    box-shadow: 0px 0px 58px -15px rgba(14,140,180,0.5); */
}

#check-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

#check-container #aspect-check{
    width : 50%;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}

#check-container #aspect-check #check-width input, #check-container #aspect-check #check-height input {
    padding : 2rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    width : 90%;
}

#check-container #aspect-check #check-width, #check-container #aspect-check #check-height{
    width : 50%;
    /* background-color: burlywood; */
}

#aspect-check-container #aspect-check-result div {
    width: 60%;
    text-align: center;
    margin : 1.5rem auto;
    /* border: 2px solid green; */
    border-radius: 20px;
}
#aspect-check-container #aspect-check-result div i,p{
    display: inline-block;
    margin: 0.5rem;
}

#aspect-check-container #aspect-check-result div .lg-text{
    font-size: 2.5rem;
}

#aspect-check-container #aspect-check-result div  .fa-check{
    color: rgb(22, 107, 22);
}

#aspect-check-container #aspect-check-result div  .fa-times{
    color: rgb(202, 66, 66);
}

#aspect-check-container #aspect-check-result div > *{
    vertical-align: middle;
}
